
page-start{

.start-img{
  background-color: white;
  display:block;
  margin: 40px auto ;
  width: 100px;
  height: 100px;
}

.enter, .create{
  width:33%;
  display:block;
  margin: 10px auto ;
  color: primary;
}

}
