

<ion-card>
  <ion-card-content>
  <ion-item>
    <ion-label floating>Diary ID (email address)</ion-label>
    <ion-input [(ngModel)]="account.email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input [(ngModel)]="account.password" type="password"></ion-input>
  </ion-item>
</ion-card-content>

<ion-row class="login-form_buttons">
  <div>
  <!-- <button ion-button color="secondary" (click)="navigateToRegisterPage()">Create</button> -->
    <button ion-button color="primary" (click)="login()">Enter</button>
  </div>
</ion-row>

</ion-card>
