<ion-header>
  <ion-navbar color="primary">
    <button float-right [outline]="!isOutline" ion-button (click)="saveEntry()">
      Save
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>

    <!-- Avatar -->
    <ion-item>
      <ion-label>My Avatar</ion-label>
    </ion-item>
    <ion-list radio-group [(ngModel)]="entry.avatar" no-lines>
      <ion-item>
        <ion-label>
          <ion-img width="40" height="40" src="../../assets/imgs/avatar1.png"></ion-img>
        </ion-label>
        <ion-radio checked="true" value="../../assets/imgs/avatar1.png"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-img width="40" height="40" src="../../assets/imgs/avatar2.png"></ion-img>
        </ion-label>
        <ion-radio checked="false" value="../../assets/imgs/avatar2.png"></ion-radio>
      </ion-item>
    </ion-list>

    <!-- Title -->
    <ion-item>
      <ion-label>Title</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="This is about..." [(ngModel)]="entry.title"></ion-input>
    </ion-item>

    <!-- Description -->
    <ion-item>
      <ion-label>Description</ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Today I..." [(ngModel)]="entry.text"></ion-textarea>
    </ion-item>

    <!-- Location -->
    <ion-item>
      <ion-label>Location</ion-label>
    </ion-item>
    <p>
      <span *ngIf="entry.location[0] != 0">LAT: {{entry.location[0]}}</span>
      <span *ngIf="entry.location[1] != 0"> | LONG: {{entry.location[1]}}</span>
    </p>
    <button ion-button color="secondary" full (click)="getLocation()">
      Add Location
    </button>

    <ion-item-divider></ion-item-divider>

    <!-- Photo -->
    <img [src]="entry.img">
    <button ion-button color="secondary" full (click)="takePic()">
      Take Photo
    </button>
    <button ion-button color="secondary" full (click)="getPic()">
      Use My Photo Library
    </button>



  </ion-list>
</ion-content>
